@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Roboto',
    sans-serif;
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
  scroll-behavior: smooth !important;
}
ion-alert .alert-title {
  @apply text-lg;
}

ion-alert .alert-message {
  @apply text-base;
}

* {
  box-sizing: border-box;
}

.datepicker {
  --background: rgba(121, 121, 121, 0.2);
}

.datepicker ion-content {
  --background: transparent;
  --padding-top: 25vh;
  --padding-start: 20px;
  --padding-end: 20px;
}

.datepicker ion-datetime {
  border-radius: 10px;
}
.dialog-modal {
  --width: fit-content;
  --max-width: 350px;
  --min-width: 300px;
  --height: fit-content;
}
ion-modal {
  --height: 100%;
  --border-radiuss: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgba(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: rgb(14 116 144);
  --color: white;
}

/* 多级主题色 */
:root {
  --zust-cloud-primary-100: rgb(173, 136, 0, 1);
  --zust-cloud-primary-90: rgba(173, 136, 0, 0.9);
  --zust-cloud-primary-80: rgba(173, 136, 0, 0.8);
  --zust-cloud-primary-70: rgba(173, 136, 0, 0.7);
  --zust-cloud-primary-60: rgba(173, 136, 0, 0.6);
  --zust-cloud-primary-50: rgba(173, 136, 0, 0.5);
  --zust-cloud-primary-40: rgba(173, 136, 0, 0.4);
  --zust-cloud-primary-30: rgba(173, 136, 0, 0.3);
  --zust-cloud-primary-20: rgba(173, 136, 0, 0.2);
  --zust-cloud-primary-10: rgba(173, 136, 0, 0.1);
}

body.dark {
}
