@tailwind base;
@tailwind components;
@tailwind utilities;

ion-popover {
  --width: 300px;
}

.alert .alert-title {
  @apply text-lg;
}

.alert .alert-message {
  @apply text-base;
}

* {
  box-sizing: border-box;
}

.datepicker{
  --background: rgba(121,121,121,0.2);
}

.datepicker ion-content{
  --background:transparent;
  --padding-top: 25vh;
  --padding-start: 20px;
  --padding-end: 20px;
}

.datepicker ion-datetime{
  border-radius: 10px;
}

